@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #774085;
  --brand-hover: #60336B;
  --brand-light: #8E4C9E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-brand-hover: var(--brand-hover);
  --color-brand-light: var(--brand-light);
  --font-sans: var(--font-inter), system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
